/*
 * Main Stylesheet
 * main.css
 */


body {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: rgb(249,249,249) !important;
}

@keyframes blink-animation {
    to { visibility: hidden; }
}
@-webkit-keyframes blink-animation {
    to { visibility: hidden;}
}

/**  For browser that support webkit (chrome) **/
@-webkit-keyframes colour {
    0% {  background: rgb(57,73,171); }
    40% {  background: rgb(30,136,229);  }
    80% {  background: rgb(3,155,229);  }
    100% {  background: rgb(57,73,171);  }
}

/**  For firefox compatibility **/
@-moz-keyframes colour {
    0% {  background: rgb(57,73,171); }
    40% {  background: rgb(30,136,229);  }
    80% {  background: rgb(3,155,229);  }
    100% {  background: rgb(57,73,171);  }
}

/*
 * For rainbow colour
 */
/**  For browser that support webkit (chrome) **/
@-webkit-keyframes rainbow_colour {
    0% {  background: rgb(233,30,99); }
    20% {  background: rgb(156,39,176); }
    40% {  background: rgb(103,58,183);  }
    60% {  background: rgb(33,150,243); }
    80% {  background: rgb(76,175,80);  }
    100% {  background: rgb(233,30,99);  }

}

/**  For firefox compatibility **/
@-moz-keyframes rainbow_colour {
    0% {  background: rgb(233,30,99); }
    20% {  background: rgb(156,39,176); }
    40% {  background: rgb(103,58,183);  }
    60% {  background: rgb(33,150,243); }
    80% {  background: rgb(76,175,80);  }
    100% {  background: rgb(233,30,99);  }
}

.btn {
    -webkit-animation: colour 10s linear infinite;
    -moz-animation: colour 10s linear infinite;
    background-color: rgb(57,73,171);
}

.cv-fab-btn {
    background-color: lime;
    color: white;
    z-index: 999;
    position: fixed;
    top: 90%;
    left: -108px;
}

.cv-fab-btn:hover {
    opacity: .8 !important;
    color: white !important;
    left: 10px;
}

/*
 * Custom Jumbotron
 */

.gif-bg {
    background: url("https://media.giphy.com/media/ZVik7pBtu9dNS/giphy.gif") center center no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}


.custom-jumbotron {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
}

.custom-jumbotron .main-header {
    font-weight: bold;
    margin-top: 35vh;
    margin-bottom: 20px;
    text-align: center;
    font-size: 10vh;
    color: white;
}

.custom-jumbotron .main-sub-header {
    text-align: center;
    color: white;
    font-size: 3vh;
    font-weight: 200;
    font-weight: 400;
}

.custom-jumbotron .blinking-cursor {
    position: relative;
    top: -4px;
    color: lime;
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
    font-weight: bold;
}

.custom-jumbotron .btn-link {
    text-decoration: none;
}

.custom-jumbotron .jumbo-btn {
    float: none;
    display: block;
    margin: 0 auto;
    padding: 8px 30px;
    border: 2px solid white;
    background: transparent;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    transition: background 1s, color 1s;
    margin-top: 10px;
}

.custom-jumbotron .jumbo-btn:hover {
    background: white;
    color: black;
}

/*
 * Custom Navbar
 */

.nav-container {
    position: fixed !important;
    top: 0px !important;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 999;
    border-radius: 0 !important;
}

.custom-navbar {
    text-align: center;
    float: none;
    margin: 0 auto;
}

.custom-navbar .navbar-nav {
    float: none;
    margin: 18px auto;
    font-size: 2.7vh;
    width: 100%;
    font-weight: bold;
}

.custom-navbar .navbar-nav .nav-item {
    color: white;
    text-decoration: none;
    padding: 20px 27px 20px 27px;
}

.custom-navbar .navbar-nav .nav-item:hover {
    opacity: 0.5;
}

@media (max-width: 600px) { /** Prevents Navigation bar from being hidden at 768px **/
    .custom-navbar .navbar-nav .nav-item {
        padding: 20px 10px 20px 10px;
    }
}

/*
 * Introduction Container
 */

.introduction-container {
    padding-bottom: 30px;
    padding-top: 30px;
}

.introduction-container .header {
    margin-bottom: 40px;
}

.introduction-container h6 {
    font-size: 18px;
}

.introduction-container p {
    font-size: 1.2em;
}

.introduction-container .profile-pic {
    width: 70%;
    height: 70%;
    margin: 20px 0px 20px 40px;
    border-radius: 50%;
}

.introduction-container .bold-content {
    font-weight: 500;
}

.introduction-container .introduction-content {
    margin-top: 10px;
}

@media screen and (max-width: 767px) {
    .introduction-container .profile-pic {
        width: 200px;
        height: 200px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .introduction-container .header {
        margin-bottom: 40px;
        margin-left: 0px;
        text-align: center;
    }

    .introduction-container p {
        font-size: 1em;
        text-align: center;
    }

    .introduction-container h6 {
        font-size: 16px;
        text-align: center;
    }

    .introduction-container {
        margin-left: -10px;
    }

}

/*
 * ML/AI Container
 */
 .mlai-container {
    margin-bottom: 20px;
}

.mlai-container h3 {
    margin-top: 70px;
    color: white !important;
    font-weight: bold;
}

.mlai-container p {
    color: white;
}

.g-red {
    background-color: #DB4437;
}

.g-blue {
    background-color: #4285F4;
}

.g-green {
    background-color: #0F9D58;
}

.g-yellow {
    background-color: #F4B400;
}

.mlai-container .ML {
    box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);
    /* background: url("https://koclab.cs.ucsb.edu/teaching/cs8/hwexpa/challenge.gif") center center no-repeat;
    background-size: cover;
    background-color: #4285F4; */
    border-radius: 5px;
    height: 200px;
    -webkit-transition: opacity 1s; /* Safari */
    transition: opacity 1s;
    width: 95%;
}

.mlai-container .web:hover, .app:hover, .software:hover {
    opacity: 0.7;
}

@media screen and (max-width: 582px) {
    .mlai-container h3 {
        margin-top: 45px;
    }
}

/*
 * Skills Container
 */
.skills-container {
    box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);
    text-align: center;
}

.expand-hint {
    font-size: 12px;
    opacity: 0.8;
    padding: 0;
    margin: 0;
}

.skills-container .software {
    background-color: #E0E0E0;
    -webkit-transition: opacity 1s; /* Safari */
    transition: opacity 1s;
}

.skills-container .app {
    background-color: #EEEEEE;
    -webkit-transition: opacity 1s; /* Safari */
    transition: opacity 1s;
}

.skills-container .web {
    background-color: #EEEEEE;
    -webkit-transition: opacity 1s; /* Safari */
    transition: opacity 1s;
}

.skills-container #web-container, #app-container, #software-container {
    padding: 10px;
}

.skills-container ul {
    list-style: none;
    margin-left: -40px;
    margin-bottom: 0px;
}

.skills-container li {
    padding-bottom: 10px;
    font-weight: bold;
}

.skills-container .web:hover, .app:hover, .software:hover {
    opacity: 0.7;
}

.skills-container h4 {
    color: black;
    margin: 0px;
    padding: 10px;
}

/*
 *  Experiences Carousel
 */

.carousel-container {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
}

.carousel-img {
    margin: 80px auto 20px auto; 
    border-radius: 10px;
    background-size: cover;
}

.carousel-subtext {
    padding: 10px 15%;
    font-size: 18px;
}

.phone-content {
    display: none;
}

.slick-prev:before { 
    color: #757575 !important;
    font-size: 30px !important;
}

.slick-next:before {
    color: #757575 !important;
    font-size: 30px !important;
}

@media screen and (max-width: 1027px) {
    .carousel-container .carousel-img {
        width: 80%;
        margin-top: 40px;
    }

    .carousel-container .main-img {
        width: 95% !important;
        height: 45vh;
    }

    .phone-content {
        display: block;
    }

    .slick-next {
        display: none !important;
    }
}

@media screen and (max-width: 1027px) {
    .carousel-container .carousel-img {
        width: 80%;
        height: 55vh;
    }
}

/*
 * Feature Container
 */

.feature-container {
    text-align: center;
    box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);
}

.feature-container .col-sm-4 {
    padding-left: 0px;
    padding-right: 20px;
}

.card-shadow {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-shadow:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.feature-card-shadow {
    box-shadow: 0 2px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.feature-card-shadow:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.feature-container .header {
    margin-top: 80px;
    text-align: center;
    margin-bottom: 20px;
}

.feature-container .sub-header {
    text-align: center;
    font-size: 16px;
    margin-bottom: 60px;
}

.feature-box-container {
    margin: auto;
    float: none;
    display: inline-block;
}

.feature-box-container .card {
    float: none;
    margin: 10px auto 80px auto;
}

.feature-container .feature-box-container .card-img-top {
    width: 200px;
    height: 200px;
}

.feature-highlight {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}

.feature-highlight .highlight-card {
    padding: 20px;
    border-radius: 20px;
    background-color: white;
}

.feature-highlight img {
    width: 180px;
    height: 180px;
}

.feature-highlight .btn-link:hover {
    background-color: transparent;
}

.feature-highlight .click-view-btn {
    width: 100px;
    height: 100px;
    margin-top: 45px;
    border-radius: 100%;
    background-color: transparent;
    border: 2px solid rgb(30,136,229);
}

.feature-highlight .click-view-btn:hover {
    border: 3px solid rgb(30,136,229);
}

.feature-highlight .f-header {
    text-align: left;
    padding-top: 10px;
}

.feature-highlight .f-sub {
    text-align: left;
    font-size: 18px;
}

.feature-highlight .fa-eye {
    color: rgb(30,136,229);
    font-size: 30px;
}

@media screen and (max-width: 1023px) {
    .feature-highlight img {
        width: 160px;
        height: 160px;
    }

    .feature-highlight .f-header {
        text-align: center;
    }

    .feature-highlight .f-sub {
        text-align: center;
    }

    .feature-highlight .click-view-btn {
        margin-top: 0px;
    }
}

/*
 * Extra Container
 */

.extra-container {
    box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);
    padding-top: 50px;
    padding-bottom: 40px;
    text-align: center;
}

.extra-container .center-container {
    margin: auto;
    float: none;
    display: inline-block;
}

.extra-container .header {
    text-align: center;
}

.extra-container .sub-header {
    text-align: center;
    margin-bottom: 60px;
    font-size: 16px;
}

.extra-container .udemy-header {
    text-align: center;
}

.extra-container .udemy-sub-header {
    text-align: center;
}

.extra-container .udemy-link:hover {
    opacity: .5;
    text-decoration: none;
}

.extra-container .badge-success {
    background-color: rgb(67,160,71);
}

.extra-container .badge-danger {
    background-color: rgb(229,57,53);
}


/*
 * Contact Container
 */

.contact-container .header {
    margin-top: 80px;
    text-align: center;
}

.contact-container .sub-header {
    text-align: center;
    font-size: 16px;
}

.contact-container .email {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 80px;
}

.contact-container .email:hover {
    text-decoration: underline;
    opacity: .9;
}


/*
 * Footer Container
 */

.footer-container {
    -webkit-animation: rainbow_colour 15s linear infinite;
    -moz-animation: rainbow_colour 15s linear infinite;
}

.footer-container .fa {
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
}

.footer-container .footer-copyright {
    color: white;
    margin-top: 17px;
    font-size: 14px;
    float: left;
    font-weight: bold;
}

.footer-container .footer-right {
    text-align: right !important;
    color: white;
    margin-top: 15px;
    float: right;
}

.footer-container .social-link {
    text-decoration: none;
    color: white;
}

.footer-container .social-link:hover {
    opacity: .5;
}
